/* home page  css part is here*/


#navbar{
    position:fixed;
    top:0px;
    width:100%;  
}

#first{
    display: flex;
    width:100%;
    height:auto;
    /* border:1px solid red; */
    justify-content: space-between;
    background-color: #f086a9;
    padding:5px;
   
}
#hrone{
    margin-top: 0px;
}



#leftnav{
    margin-left: 70px;
    font-weight:bold;
}

#rightnav{
    margin-right: 70px;
}

#rightnav a{
    text-decoration: none;
    color: black;
    padding:5px;
}

#rightnav a:hover, #secondleft a:hover, #third a:hover{
    color:#f50057
}

#first>div{
    margin-top: 10px;
}

#second{
    display: flex;
    height:auto;
    /* border:1px solid red; */
    justify-content: space-between;
    padding:5px;
    background-color:white;
}

#secondleft{
    margin-top: 20px;
    margin-left: -200px;
}

#secondright{
    margin-top: 20px;
    margin-right: 70px;
}

#secondleft a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin:5px;
    font-size: 18px;  
    margin-left:15px;
    /* margin-top: -20px; */
}

#secondright a{
    text-decoration: none;
    margin-left: 20px;
    color:black;
}
#search{
    margin-top: -20px;
    height:40px;
    width:250px;
    background-color:whitesmoke;
    border:none;
}

#search:hover{
    border:1px solid red;
}



#imglogo{
    width:80px;
    height:30px;
    margin-left: 80px;
    margin-top: 10px;
}

#third{
    display:flex;
    /* border:1px solid red; */
    padding:10px;
    margin-left: 40px;
    justify-content:space-between ;
    margin-top: 100px;
}

#third a{
    text-decoration: none;
    color:gray;
    margin-left: 18px;
    
}

#thirdleft{
    margin-top: 10px;
}
#thirdright{
    width:100px;
    height:20px;
    margin-right: 200px;
    background-image: linear-gradient(to right,#f50057 ,purple);
    margin-top: 10px;
    color:white;
    text-align: center;
}

#fourth{
    width:100%;
    height:300px;
    /* border:1px solid red; */
    /* margin:10px 0px 0px 80px; */
}

#fifth{
    margin-left: 70px;
    margin-top: 80px;
}
#sixth{
margin-left: 70px;
margin-top: 20px;
}

#fifth img:hover, #sixth img:hover, #eighth img:hover, #ninth img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#head1{
    text-align: center;
    font-size: 25px;
    color:rgba(0, 0, 0, 0.788);
    font-family: 'Times New Roman', Times, serif;
}

#seventh{
    display: grid;
    /* border:1px solid red; */
    height:auto;
    width:90%;
    grid-template-columns: repeat(2,1fr);
    gap:30px;
    margin:auto;
}


#seventh div img{
    /* display: block; */
    width:100%;
    height:300px;
    border-radius: 10px;
    /* display: flex; */
}

#seventh img:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.seventhone{
    border:1px solid beige;
    width:96%;
    height:80px;
    margin: -81px 0px 0px 10px;
    background-color:beige;
    position:relative;
    border-radius: 5px; 
    
}

.seventhone>h3{
    color:rgb(230, 117, 136);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    /* line-height: -80px; */
}
.seventhone>p{
    font-size: 18px;
    text-align: center;
    line-height: 1px;
    color:rgba(0, 0, 0, 0.5);
}

#eighth{
    /* border:1px solid red; */
    display: grid;
    height:auto;
    width:90%;
    grid-template-columns: repeat(2,1fr);
    gap:25px;
    margin:auto;
}



#eighth div img{
    display: block;
    width:100%;
    height:300px;
    border-radius: 10px;
}

#ninth{
     /* border:1px solid red; */
     display: grid;
     height:auto;
     width:90%;
     grid-template-columns: repeat(2,1fr);
     gap:25px;
     margin:auto;
}

/* #ninth div{
    border:1px solid teal;
} */

#ninth div img{
    display: block;
    width:100%;
    height:300px;
    border-radius: 10px;
}

.ninthone{
    border:1px solid beige;
    width:96%;
    height:80px;
    /* position: absolute; */
    margin: -81px 0px 0px 10px;
    position: relative;
    background-color: beige;
    border-radius: 5px; 
}

.ninthone>h3{
    color:rgb(230, 117, 136);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    /* line-height: -80px; */
}
.ninthone>p{
    font-size: 18px;
    text-align: center;
    line-height: 1px;
    color:rgba(0, 0, 0, 0.5);
}

#tenth{
    width:95%;
    /* border:1px solid red; */
    margin:60px 0px 0px 30px;
}
#tenth img{
    width:100%;
    border-radius: 10px;
}

#eleven{
    width:95%;
    height:auto;
    /* border:1px solid red; */
    margin: 30px 0px 0px 30px;
    display: grid;
    gap:20px;
    grid-template-columns: repeat(5,1fr);
}

#eleven div{
    /* border:1px solid teal; */
    /* background-color: #f086a9; */
    border-radius: 10px;
}

#eleven img{
    display: block;
    width:100%;
    /* height:100%; */
}

#twelve{
    display:grid;
    /* border:1px solid red; */
    /* grid-template-columns: repeat(5,1fr); */
    width:90%;
    /* height:150px; */
    margin:auto;
   
}
 .twelveone{
    border:1px solid gainsboro;
 }


.twelveone img{
    height:120px;
    width:100px;
    margin-left:80px;
}

.twelveone p{
    line-height: 2px;
    color:gray;
    margin-left: 30px;
}

.twelveone h4{
    margin-left: 30px;
}

.twelveone a{
    text-decoration: none;
    color:#f50057;
    margin-left: 100px;
    font-weight: bold;
}

#thirteen{
    /* border:1px solid red; */
    width:90%;
    height:auto;
    display:grid;
    margin:auto;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}


#thirteen img{
    width:100%;
} 

#thirteen div div{
    width:100%;
    height:auto;
    margin:auto;
    margin-top: -22px;
    background-color: beige;
}

#thirteen h3,#fourteen h3{
    color:#e77a9e;
    text-align: center;
}

#thirteen p ,#fourteen p{
    color:rgba(0, 0, 0, 0.678);
    text-align: center;
}

#fourteen{
    display:grid;
    width:45%;
    /* border:1px solid red; */
    grid-template-columns: repeat(2,1fr);
    margin:auto;
    margin-top: 30px;
    gap:30px;
}

#fourteen img{
    width:100%;
    height:auto;
}

#fifteen{
    width:90%;
    margin:auto;
    background-color: #ccaab5;
    height:100px;
    display: flex;
}

#fifteen>div{
    width:99%;
    border:2px solid #f50057;
    height:85%;
    margin:auto;
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
}

 /* HOVERS */
.thirteenone:hover, .fourteenone:hover, #fifteen:hover,#sixteen:hover,#eighteen:hover,#ninteen img:hover,
#seventeen img:hover,eighteen img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#sixteen{
    width:90%;
    margin:auto;
    margin-top: 30px;
}

#seventeen{
    width:90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;
    margin:auto;
}

#seventeen img{
    width:100%;
}

#eighteen{
    width:45%;
    margin:auto;
}
#eighteen img{
    width:100%;
}

#ninteen{
    width:90%;
    margin:auto;
    display: grid;
    gap:30px;
    grid-template-columns: repeat(2,1fr);
}

#ninteen img{
    width:100%;
    border-radius: 10px;
}

#twenty{
    height:200px;
    display: flex;
    background-color: rgb(75, 71, 71);
    /* grid-template-columns: repeat(3,1fr); */
    /* gap:50px; */
}

#twentyleft{
    width:90%;
    height:100px;
    /* border:1px solid red; */
    margin: 30px auto auto auto ;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:60px;
}


#twentyleft a{
    text-decoration: none;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}


input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid white;
    background-color: rgb(75, 71, 71);
    color:white;
  }

  #send{
    background-color: rgb(75, 71, 71);
    padding:6px;
    width:60px;
    border:1px solid white;
    color:white;
    margin-top: 20px;
  }

  #twentyleft img{
    width:120px;
    height:40px;
    margin-left: 80px;
    margin-top: 20px;
    border-radius: 5px;
  }

  #twentyleft img+img{
    width:100px;
    height:30px;
    margin-left: 90px;
    margin-top: 5px;
    border-radius: 10px;
  }

  #twentyone{
    /* border:1px solid red; */
    height:auto;
    background-color:rgb(151, 141, 141);
    display: flex;
}

#twentyoneleft{
    /* border:1px solid red; */
    width:90%;
    height:auto;
    margin: 20px auto auto auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:30px;
}

/* #twentyoneleft div{
    border:1px solid teal;
} */

#twentyoneleft i{
    color:white;
    font-size: 25px;
    font-weight: bold;
}

#twentyoneleft p{
    color:white;
    line-height: 18px;
    font-size: 15px;
} 

#twentyoneleft p:hover{
    color:#f50057;
}

#twentyoneleft a{
    text-decoration: none;
}

#twentyoneleft h4{
    color:white;
    margin-top:0px;
}

#twentytwo{
    height:200px;
    /* border:1px solid red; */
    display:flex;
}

.twentytwoleft{
    width:90%;
    height:auto;
    /* border:1px solid teal; */
    margin:auto;
    display:grid;
    gap:30px;
    grid-template-columns: repeat(5,1fr);
}

/* .twentytwoleft div{
    border:1px solid green;
} */

.twentytwoleft i{
    color:#f50057;
    font-size: 30px;
}

.twentytwoleft div p{
    margin-top:-35px;
    margin-left: 43px;
    line-height: 30px;

}

.gr{
    color:gray;
}

#last{
    color:black;
    margin:auto;
    font-size: 14px;
}

#bl{
    color:black;
    font-size: 20px;
    margin-left: 10px;

}

#twentythree{
    height:90px;
    /* border:1px solid red; */
    background-color: #f50057;
    display: flex;
}

#twentythree div{
    /* border:1px solid teal; */
    width:45%;
    height:80%;
    margin:auto;
    text-align: center;
    color:white;
}

#twentyfour{
    height:30px;
    background-color: aliceblue;
    display:flex;
    justify-content:flex-end;
    width:100%;
   
    
}

#twentyfour div{
    /* border:1px solid red; */
    background-color:#dba6b8;
    margin-top:5px;
    padding:13px;
    width:200px;
    margin-right: 30px;
    bottom:0px;
    position:fixed;
}

#twentyfour a{
    text-decoration: none;
    color:black;
    font-size: 18px;
}

#fourth img{
    width:100%;
}

/* #fourth{
    position: relative;
} */


#btn-left,#btn-right{
    position:absolute;
    top:50%;
}

button:nth-child(2){
    left:10px;
}
button:nth-child(3){
    right:10px;
}

#dropdown{
    float:left;
    overflow: hidden;
}

#dropdown, #dropbtn{
    font-size: 16px;
    border:none;
    outline:none;
    color:white;
    /* padding:14px 16px; */
    /* background-color: red; */
    font-family: inherit;
}

/* #dropdown:hover #dropbtn{
    background-color: yellow;
} */

#dropdown-content{
    display:none;
    position:absolute;
    z-index:1;
    width:50%;
    background-color:white;
}

#dropdown-content a{
    float:none;
    color:gray;
    font-size: 16px;
    line-height: 30px;
    display:block;
    /* text-align: left; */
}

#dropdown:hover #dropdown-content{
    display:block;
}

#gift{
    color:#f50057;
}

/* scroll bar */

@import "https://unpkg.com/open-props";
@import "https://unphg.com/open-props/mormalze.min.css"; 


#twelve{
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    gap:10px;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}











  









